<!DOCTYPE html>
<html>
<head>
    <title>{{ company_app_name }}</title>
</head>
<body>
    <h1>{{ company_app_name }}</h1>
    <h2>Linux Server</h2>

    <p>Version: {{ company_app_version }}</p>
    <p>Environment: {{ company_app_environment }}</p>
    <p>Managed by: Ansible</p>
</body>
</html>
